
.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;

}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.dropdown-appear {
    opacity: 0;
    transform: translateY(-10px);
}

.dropdown-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms ease;
}

.dropdown-enter {
    transform: translateY(-10px);
    opacity: 0;
 }

.dropdown-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 500ms ease;
}

.dropdown-exit {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 500ms ease;
}

.mobile-filter-menu-enter {
    transform: translateX(100%);
    opacity: 0;
}

.mobile-filter-menu-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 500ms ease;
}

.mobile-filter-menu-exit {
    transform: translateX(0);
    opacity: 1;
}

.mobile-filter-menu-exit-active {
    transform: translateX(100%);
    opacity: 0;
    transition: all 500ms ease;
}